body {
    margin: 0;
    padding: 0;
    background-color: aqua;
    height: 100%;
    width: 100%;

}

.insights-body, .header-div, .title, .subtitle, .main-ai-insight, .main-ai-insights-title, .main-ai-insights-body, .insight, .graphs-div, .graph-1, .meal-level-analysis, .daily-analysis-div, .daily-analysis-header, .daily-analysis-title, .daily-analysis-body, .row, .left-row, .right-row, .daily-analysis-footer-div, .daily-analysis-footer, .recommendations-div, .recommendations-title, .recommendations-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Outfit", sans-serif;
}

.insights-body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header-div {
    height: 130px;
    width: 100%;
    background-color: aliceblue;
    gap: 10px;
    width: 90%
}

.title {
    height: 40%;
    width: 100%;
    background-color: lightcoral;
    font-size: 2.5rem;
    font-weight: 700;
}

.subtitle {
    height: 20%;
    width: 100%;
    background-color: lightcoral;
    font-weight: 300;
    font-size: 1.1rem;
}

.main-ai-insight {
    height: 200px;
    width: 100%;
    background-color: lightblue;
    gap: 10px;
    width: 90%;
    border-radius: 15px;
}

.main-ai-insights-title {
    height: 15%;
    width: 100%;
    background-color: lightcoral;
}

.main-ai-insights-body {
    height: 57%;
    width: 100%;
    background-color: lightcoral;
    flex-direction: row;
    /* gap: 15px; */
    justify-content: space-evenly;
}

.insight {
    height: 100%;
    width: 32%;
    background-color:brown;
    border-radius: 10px;
}

.graphs-div {
    height: 500px;
    width: 100%;
    background-color: aliceblue;
    gap: 20px;
    flex-direction: row;
    width: 90%;
}

.graph-1 {
    height: 100%;
    width: 30%;
    background-color: lightcoral;
    border-radius: 15px;
}

.meal-level-analysis {
    height: fit-content;
    width: 90%;
    background-color: lavenderblush;
    gap: 20px;
    padding: 20px 0px;
}

.daily-analysis-div {
    height: fit-content;
    width: 95%;
    background-color: lightgreen;
    gap: 10px;
    justify-content: flex-start;
    padding: 15px 0px;
}

.daily-analysis-header {
    height: 40px;
    width: 100%;
    background-color: rgb(56, 107, 152);
    align-items: flex-start;
}

.daily-analysis-title {
    height: 100%;
    width: 15%;
    background-color: black;
    color: white;
}

.daily-analysis-body {
    height: fit-content;
    width: 100%;
    background-color: rgb(56, 107, 152);
    gap: 5px;
}

.row {
    height: 35px;
    width: 100%;
    background-color: aqua;
    flex-direction: row;
}

.left-row, .right-row {
    height: 100%;
    width: 50%;
    background-color: azure;
}

.right-row {
    background-color: brown;
}

.daily-analysis-footer-div {
    height: 60px;
    width: 100%;
    background-color: bisque;
}

.daily-analysis-footer {

}

.recommendations-div {
    height: 400px;
    width: 100%;
    background-color: beige;
    gap: 15px;
    width: 90%;
}

.recommendations-title {
    height: 10%;
    width: 100%;
    background-color: lightcoral;
    width: 95%
}

.recommendations-body {
    height: 15%;
    width: 95%;
    background-color: lightcoral;
    border-radius: 10px;
}