.default-tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tracker-body {
  min-height: 100%;
  width: 100%;
  gap: 20px;
}

p {
  margin: 0;
}

* {
  /* outline: 1px solid pink; */
}

.tracker-header {
  width: 100%;
  height: 110px;
  background-color: #e9e9e9;
  flex-direction: row;
}

.tracker-header-left {
  height: 100%;
  width: 80%;
  gap: 5px;
  align-items: flex-start;
  padding-left: 5%;
  font-size: 1.4rem;
  font-weight: 500;
}

.tracker-header-left p {
  font-size: 0.9rem;
  font-weight: 300;
}

.tracker-header-right {
  height: 100%;
  width: 20%;
  flex-direction: row;
  font-weight: 300;
  color: #3775f9;
}

.tracker-header-right button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 6px 8px;
  margin: 10px;
  cursor: pointer;
  outline: none;
}

.tracker-main {
  width: 100%;
  height: fit-content;
  background-color: #f9fafb;
  justify-content: flex-start;
  padding: 20px 0px;
  gap: 20px;
}

.tracker-part {
  width: 90%;
  height: fit-content;
  background-color: white;
  justify-content: flex-start;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
}

.tracker-part-header {
  width: 100%;
  height: fit-content;
  align-items: flex-start;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #0051ff;
  border-radius: 10px 10px 0px 0px;
  color: white;
  text-transform: capitalize;
}

.tracker-part-body {
  width: 100%;
  height: fit-content;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 40px 20px 40px;
  border-top: 1px solid #e4e5e8;
}

.tracker-part-body-exercise {
  width: 100%;
  height: fit-content;
  flex-direction: row;
}

.tracker-part-body-exercise-left {
  height: 100%;
  width: 90%;
  /* padding: 12px; */
  align-items: flex-start;
  font-weight: 500;
  padding: 15px 0px;
}

.tracker-part-body-exercise-left span {
  text-transform: capitalize;
  font-size: 1.1rem;
}

.tracker-part-body-exercise-left p {
  font-weight: 300;
  margin-top: 10px;
}

.tracker-part-body-exercise-right {
  height: 100%;
  width: 10%;
  align-items: flex-end;
}

.icon {
  width: 25px;
  height: 25px;
  background-color: #3775f9;
  border-radius: 50%;
  color: white;
  user-select: none;
  font-style: 300;
  font-size: 0.8rem;
  cursor: pointer;
}

.steps {
  height: fit-content;
  width: 100%;
  background-color: #e3eefb;
  padding: 20px;
  /* line-height: 25px; */
  align-items: flex-start;
  color: #1577cd;
  border-radius: 10px;
  border: 1px solid rgb(186, 200, 243);
  /* margin-bottom: 15px; */
}

.title {
  font-size: 1.1rem;
  font-weight: 500;
  color: #1e3a8a;
  align-items: flex-start;
  margin-bottom: 15px;
}

.counter {
  background-color: #bfdbfe;
  border-radius: 50%;
  width: fit-content;
  height: 35px;
  width: 35px;
  margin-right: 10px;
  font-size: 0.9rem;
  font-weight: 300;
}

.steps p {
  font-weight: 300;
  flex-direction: row;
  height: 40px;
  margin-top: 1px;
}

.tracker-part-body-info {
  width: 100%;
  height: 70px;
  background-color: #f9fafb;
  flex-direction: row;
  gap: 5px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
}

.number-div {
  height: 100%;
  width: 5%;
}

.number {
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #e2e4e8;
}

.set-rep-div {
  height: 100%;
  width: 90%;
  flex-direction: row;
  justify-content: flex-start;
  text-transform: lowercase;
}

.set-rep-div input {
  height: 55%;
  width: 65px;
  border-radius: 8px;
  border: 1px solid #000000;
  background-color: #f6f7f7;
  border: 1px solid #d1d5db;
}

.tick-div {
  height: 100%;
  width: 5%;
}

.tick {
  height: 35px;
  width: 35px;
  background-color: #fcfdfd;
  border: 1px solid #e5e8eb;
  border-radius: 10px;
}
