body {
  background-color: rgb(255, 4, 4);
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 100%;
  font-family: "Outfit", sans-serif;
}

.workout-body {
  width: 100%;
  padding: 20px 0px;
}

.default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-workouts-body {
  flex-direction: row;
  gap: 10px;
}

.workout-main {
  height: 100%;
  width: 95%;
  background-color: white;
  gap: 10px;
  /* display: none; */
}

.header-div {
  height: 120px;
  width: 100%;
  background-color: #434ee7;
  gap: 0px;
  width: 100%;
  padding: 10px 0px;
  color: white;
}

.header {
  height: 60%;
  width: 95%;
  /* background-color: #bc4848; */
  align-items: flex-start;
  font-size: 1.9rem;
  font-weight: 500;
}

.subheading {
  height: 40%;
  width: 95%;
  /* background-color: #a93434; */
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 300;
}

.name-div,
.days-div,
.muscles-div,
.exercises-div,
.output-div {
  background-color: #f5f6f6;
  border-radius: 15px;
  padding: 30px;
  width: 95%;
}

.name-div {
  height: 150px;
  width: 95%;
  gap: 10px;
  padding: 25px 30px;
}

.name {
  height: 30%;
  width: 100%;
  /* background-color: aquamarine; */
  align-items: flex-start;
  font-size: 1.3rem;
  font-weight: 500;
}

.input-name-div {
  height: 50%;
  width: 100%;
  /* background-color: aquamarine; */
  align-items: flex-start;
}

.input-name-div input {
  height: 100%;
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
}

.input-name-div input:focus {
  outline: 1px solid #c1c5cb;
}

.days-div {
  height: fit-content;
  width: 95%;
  /* background-color: aqua; */
  padding: 30px 30px;
  justify-content: flex-start;
  gap: 15px;
}

.days-div-title {
  height: 20%;
  width: 100%;
  /* background-color: aquamarine; */
  align-items: flex-start;
  font-size: 1.3rem;
  font-weight: 500;
}

.days {
  height: fit-content;
  width: 100%;
  /* background-color: aquamarine; */
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.day {
  height: fit-content;
  width: calc(50% - 5px);
  padding: 17px;
  background-color: white;
  font-size: 1.1rem;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.day:hover {
  background-color: #434ee7;
  border: 1px solid #434ee7;
  color: white;
}

.selected {
  background-color: #434ee7;
  border: 1px solid #434ee7;
  color: white;
}

.muscles-div {
  height: fit-content;
  gap: 15px;
}

.muscles-div-title {
  height: 25%;
  width: 100%;
  /* background-color: aliceblue; */
  font-size: 1.3rem;
  font-weight: 500;
  align-items: flex-start;
}

.muscles-body {
  height: fit-content;
  width: 100%;
  /* background-color: aliceblue; */
  gap: 15px;
}

.select-div {
  width: 100%;
  height: fit-content;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  flex-direction: row;
  gap: 10px;
  padding: 10px 15px;
}

.select-day {
  width: 20%;
  height: 100%;
  /* background-color: beige; */
  align-items: flex-start;
  padding-left: 5px;
}

.select-muscle {
  width: 80%;
  height: fit-content;
  /* background-color: beige; */
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 15px;
}

.select-muscle select {
  width: 30%;
  height: fit-content;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-family: Outfit;
  color: #333;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 300;
  outline: none;
}

.individual-day-muscle {
  height: fit-content;
  width: fit-content;
  background-color: #dbeafe;
  color: #2857da;
  border-radius: 5px;
  padding: 5px 7px;
  flex-direction: row;
  gap: 5px;
}

.individual-day-muscle-cross {
  color: red;
  cursor: pointer;
}

.selected-muscle {
  width: 60%;
  height: fit-content;
  /* background-color: #7e0a96; */
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: flex-start;
}

.exercises-div {
  height: fit-content;
  gap: 15px;
}

.exercises-title {
  height: 40px;
  width: 100%;
  /* background-color: antiquewhite; */
  align-items: flex-start;
  font-size: 1.3rem;
  font-weight: 500;
}

.exercises-options-div {
  height: 45px;
  width: 100%;
  /* background-color: antiquewhite; */
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

.exercises-dropdown {
  height: 75%;
  width: fit-content;
  padding: 0px 10px;
  border: 1px solid #d1d5db;
  border-radius: 7px;
  font-family: Outfit;
  outline: none;
}

.exercises-subtitle {
  height: 20px;
  width: 100%;
  /* background-color: antiquewhite; */
  align-items: flex-start;
}

.exercises-body {
  height: fit-content;
  width: 100%;
  /* background-color: rgb(221, 176, 117); */
  gap: 10px;
}

.exercise-div {
  height: fit-content;
  width: 100%;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
  flex-direction: row;
}

.exercise-img-div {
  height: fit-content;
  width: fit-content;
  background-color: #333;
}

.row-1 {
  height: 100%;
  width: 90%;
  padding: 10px;
  align-items: flex-start;
  gap: 15px;
}

.exercise-heading {
  height: 40%;
  width: 100%;
  /* background-color: rgb(84, 159, 225); */
  flex-direction: row;
  gap: 10px;
}

.exercise-title {
  height: 100%;
  width: 95%;
  /* background-color: antiquewhite; */
  align-items: flex-start;
  justify-content: flex-end;
  font-size: 1.2rem;
}

.exercise-button-div {
  height: 95%;
  width: 5%;
  /* background-color: rgb(255, 147, 6); */
}

.exercise-button {
  height: 100%;
  width: 100%;
  background-color: #3b82f6;
  border-radius: 7px;
  border: none;
  outline: none;
  color: white;
  font-family: Outfit;
  font-size: 1.03rem;
  cursor: pointer;
}

.exercise-body {
  height: fit-content;
  width: 90%;
  /* background-color: rgb(89, 74, 55); */
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 300;
  color: #707070;
}

.output-div {
  height: fit-content;
  gap: 10px;
}

.output-title {
  height: 40px;
  width: 100%;
  /* background-color: rgb(144, 185, 185); */
  align-items: flex-start;
  font-size: 1.3rem;
  font-weight: 500;
}

.output-body {
  height: fit-content;
  width: 100%;
  /* background-color: rgb(151, 248, 248); */
  gap: 10px;
}

.added-day-div {
  height: fit-content;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  gap: 10px;
  padding: 15px;
}

.added-day-div-title {
  height: 30px;
  width: 100%;
  /* background-color: rgb(230, 241, 241); */
  align-items: flex-start;
}

.added-day-div-content {
  height: fit-content;
  width: 100%;
  /* background-color: aliceblue; */
  gap: 10px;
}

.exercise-added-div {
  height: fit-content;
  width: 100%;
  background-color: #f1f4f6;
  border-radius: 6px;
  flex-direction: row;
  gap: 10px;
  padding: 5px;
}

.exercise-added-title {
  height: 100%;
  width: 35%;
  /* background-color: rosybrown; */
  align-items: flex-start;
  padding-left: 10px;
}

.exercise-added-sets {
  height: 100%;
  width: 15%;
  /* background-color: rosybrown; */
}

.exercise-added-reps input,
.exercise-added-sets input {
  height: 35px;
  width: 70px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  font-family: Outfit;
  color: black;
  padding-left: 7px;
}

.exercise-added-reps {
  height: fit-content;
  width: 45%;
  /* background-color: rosybrown; */
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.delete-icon {
  height: 100%;
  width: 5%;
  color: red;
  cursor: pointer;
}

.footer-div {
  height: 80px;
  width: 100%;
  background-color: aqua;
}
